body {
  font-family: "Lato", "Montserrat", sans-serif;
  margin: 0;
  background: #000;
  background-size: cover;
  padding-top: 0%;
}


  h1 h2 h3 h4 h5 h6{
    color: white;
    font-family: "Montserrat", sans-serif;
  }


  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 15px 40px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
    color: aliceblue;
  }

   .title_center {
    align-self: center;
  }

  .active {
    background-color: #6bfff5;
  }

  @import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic,900);
  * {
    box-sizing: border-box;
  }
  
  
  
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  
  .overlay {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .overlay h1 {
      background: rgb(0, 0, 0) none repeat scroll 0 0;
      color: rgb(225, 198, 161);
      border-radius: 5%;
      font-weight: 600;
      margin: 2rem 3rem 0;
      mix-blend-mode: overlay;
      padding: 5px 15px;
      text-align: center;
  }
  header {
    background:rgb(255, 255, 255);
    position: fixed;
    width: 100%;
    text-align: right;
    color: #2b0076;
    -webkit-transition: .4s;
    transition: .4s;
    padding: 1.0em;
    font-weight: 600;
  }
  nav a {
      color: inherit;
      padding: 0 12px;
      text-decoration: none;
  }

  a:hover {
    color: rgb(19, 18, 20);
    font-weight: 550;
  }
  
  .text-box{
    color: aliceblue;
    text-align: center;
  }

  .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }

 