body{
    margin: 0%;
    padding-top: 0%;
}
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 15px 40px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
    color: aliceblue;
  }

   .title_center {
    align-self: center;
  }

  .active {
    background-color: #6bfff5;
  }

  @import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic,900);
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Lato","Avenir Next",Arial,sans-serif;
    margin: 0;
    background: #000;
    background-size: cover;
  }
  
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  
  .overlay {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .overlay h1 {
      background: rgb(0, 0, 0) none repeat scroll 0 0;
      color: rgb(225, 198, 161);
      font-weight: 600;
      margin: 2rem 3rem 0;
      mix-blend-mode: overlay;
      padding: 5px 15px;
      text-align: center;
  }
  header {
    background:rgb(255, 255, 255);
    position: fixed;
    width: 100%;
    text-align: right;
    color: #2b0076;
    -webkit-transition: .4s;
    transition: .4s;
    padding: 0.5em;
    font-weight: 600;
  }
  nav a {
      color: inherit;
      padding: 0 12px;
      text-decoration: none;
  }
  